.button {
  width: 40px;
  height: 40px;
  border: 1.5px solid var(--shade2);
  border-radius: 4px;
  background: var(--shade1);
  cursor: pointer;
  transition: background 50ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button[data-pressed='true'] {
  background: var(--accent0);
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--shade0);
  opacity: 0.6;
}
